.footer{
  width: 100%;
  min-height: 60px;
  background-color: #a2ad91;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* IF ESTUDOS */

.footerblue {
  background-color: blue;
}

.footerpurple {
  background-color: purple;
}

.fingerwhite {
  color: white;
}

.fingerblack {
  color: black;
}

.pclass {
  font-size: 30px;
}