.footer{
  width: 100%;
  min-height: 60px;
  background-color: rgb(255, 189, 89);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IF ESTUDOS */

.footerblue {
  background-color: blue;
}

.footerpurple {
  background-color: purple;
}

.fingerwhite {
  color: white;
}

.fingerblack {
  color: black;
}

.pclass {
  font-size: 30px;
}