.yellow {
    background-color: #a2ad91 !important;
    padding: 30px 50px;
    margin: 5px;
    border: unset;
    border-radius: 5px;
    justify-content: center !important;
}

.green {
    background-color: #a2ad91 !important;
    padding: 30px 50px;
    margin: 5px;
    border: unset;
    border-radius: 5px;
    justify-content: center !important;
}

.red {
    background-color: #a2ad91 !important;
    padding: 30px 50px;
    margin: 5px;
    border: unset;
    border-radius: 5px;
    justify-content: center !important;
}